
<div class="all3">
<form class="form" method="post" action="/home/create" enctype="multipart/form-data">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <table  style="text-align: left;">
            <tbody>
<div class="container">
                    <tr>
                    <h1>글쓰기</h1>
                        </td>
                    </tr>
                <tr>
  <div class="form-group">
    <label for="exampleFormControlInput1">제목</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="입력해보시오" name="title">
  </div>
                    </tr>
                    <tr>
                        <td>
                           지역 : 
                        </td>
                        <td>
<div class="form-group">
    <select name="map" class="form-control" id="exampleFormControlSelect1">
      <option value="" hidden>지역</option>    
      <option value="마포구">서울 마포구</option>
      <option value="용산구">서울 용산구</option>
      <option value="종로구">서울 종로구</option>
      <option value="강남구">서울 강남구</option>
      <option value="성동구">서울 성동구</option>
      <option value="을왕리">인천 을왕리</option>
    </select>
  </div>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                           오전/오후 : 
                        </td>
                        <td>
      <div class="form-group">
    <select name="ampm"class="form-control" id="exampleFormControlSelect1">
      <option value="" hidden>오전/오후</option>    
      <option value="am">오전</option>
      <option value="pm">오후</option>
    </select>
  </div>
 
                        </td>
                    </tr>
                    <tr>
                        <td>
                           시간 : 
                        </td>
                        <td>
  <div class="form-group">
    <select name="time" class="form-control" id="exampleFormControlSelect1">
      <option value="" hidden>시간</option>    
      <option value="1">1시</option>
      <option value="3">3시</option>
      <option value="5">5시</option>
      <option value="7">7시</option>
      <option value="9">9시</option>
      <option value="11">11시</option>
    </select>
  </div>

            
                        
                        </td>
                    </tr>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">리뷰</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="4"></textarea>
  </div>
                    <tr>
                        <td colspan=2 style="text-align:center;">
                            <input type="file" name="avatar">
    
                        </td>
                    </tr>
                    
                    <tr>
                        <td colspan=2 style="text-align:center;"><br>
                            <input type="submit">
                            <input type="reset">
                            <button>
                            <a href="/home/index"> <span style="color:black">목록으로</span> </a>
                            </button>
                        
                        </td>
                    </tr>
                    </div>
                </tbody>
            </table>
        </form>
</div>
</div>
<br><br><br><br><br>